.footer {
    margin-top: auto;
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: auto;
    height: 4vh;
    background-color: black;
    margin: 0;
}

