.header {
    flex-shrink: 0;
}

.headerTitle {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  align-self: center;
  color: white;
  text-shadow: 0 0 10px rgba(215, 215, 215, 0.8);
}

.headerContainer {
  display: flex;
  justify-content: center;
  height: 5vh;
  border: 3px solid gray;
  border-top: 0 solid black;
  box-shadow: 4px 4px 0 3px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(10px);
}

